.about-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
  
.about-content .content-item {
    flex: 1;
}
  
.info {
    margin-top: 1rem;
}
  
.info span {
    color: var(--primary-clr);
}
  
.profile {
    position: relative;
    text-align: center;
}
  
.profile::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background: linear-gradient(transparent 30%, var(--dark-clr));
}
  
.profile img {
    width: 50%;
}

.technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tech-item {
    display: flex;
    align-items: center;
}