#hero {
    background: linear-gradient(120deg, var(--sky-blue1) 50%, var(--sky-blue2));
    position: relative;
    display: grid;
    place-content: center;
    height: 100dvh;
    overflow: hidden;
    justify-items: center;
}

#hero::before {
    position: absolute;
    background-color: var(--light-clr);
    opacity: 30%;
    filter: url(#grainy);
    content: '';
    height: 100%;
    width: 100%;
    z-index: 3;
    animation: scaling 8s ease-in-out infinite alternate;
}

@keyframes scaling {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}


#hero .title {
    color: var(--primary-clr);
    font-family: 'Khand', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 8vw;
    letter-spacing: -0.0rem;
    text-shadow: 0 0 3px var(--primary-clr);
}

#hero .title p {
    font-size: 8vw;
    margin: 0;
    letter-spacing: -0.03rem;
    color: var(--light-clr);
    text-shadow: 0 0 2px var(--light-clr);
}

#hero .title span {
    animation: blinking 0.4s ease-in-out infinite alternate;
}

@keyframes blinking {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#hero .btn {
    text-align: center;
    position: relative;
    z-index: 5;
    font-weight: 500;
}

/* xs */
@media (min-width: 475px) {
    #hero .title {
        font-size: var(--size-5xl);
    }

    #hero .title p {
        font-size: var(--size-4xl);
        margin-bottom: -0.5rem;
    }
}

/* sm */
@media (min-width: 640px) {
    #hero .title {
        font-size: var(--size-6xl);
    }

    #hero .title p {}
}

/* md */
@media (min-width: 768px) {
    #hero .title {
        font-size: var(--size-7xl);
    }

    #hero .title p {
        font-size: var(--size-5xl);
        margin-bottom: -1rem;
    }
}

/* lg */
@media (min-width: 1024px) {
    #hero .title {
        font-size: var(--size-8xl);
        letter-spacing: -0.2rem;
        filter: blur(0.04rem);
    }

    #hero .title p {
        font-size: var(--size-6xl);
        letter-spacing: -0.1rem;
    }

    #hero .btn {
        filter: blur(0.03rem);
    }
}

/* xl */
@media (min-width: 1280px) {
    #hero .title {
        font-size: var(--size-9xl);
    }

    #hero .title p {
        font-size: var(--size-7xl);
        margin-bottom: -1.5rem;
        letter-spacing: -0.1rem;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */