.project-list {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 1rem 0;
    position: relative;
    box-shadow: 0 10px 30px 0px #0c131999;
}

.project-list::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(120deg, var(--sky-blue1), var(--sky-blue2)); */
}

.project-item {
    flex: 1;
    height: 35rem;
    min-width: 16rem;
    border: 1px solid var(--dark-clr);
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    z-index: 6;
}

.project-item p {
    display: none;
}

.project-item:hover {
    background-color: #0c1319b4 !important;
    filter: grayscale(0);
    opacity: 1;
}

.project-item:hover p {
    display: block;
}

.project-list:has(.project-item:hover) .project-item:not(.project-item:hover) {
    filter: grayscale(100);
    opacity: 0.1;
}

.project-list:has(.project-item:hover)::after {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}

.project-1 {
    background: url(/project-1_card.png);
    background-size: cover;
    background-position: center;
}

.project-list:hover .project-1 {
    background: none;
}

.project-list:has(.project-1:hover) {
    background: url(/project-1.png);
    background-size: cover;
    background-position: top center;
}

.project-2 {
    background: url(/project-2_card.png);
    background-size: cover;
    background-position: center;
}

.project-list:hover .project-2 {
    background: none;
}

.project-list:has(.project-2:hover) {
    background: url(/project-2.png);
    background-size: cover;
    background-position: top center;
}

.project-3 {
    background: url(/project-3.jpg);
    background-size: cover;
    background-position: center;
}

.project-list:hover .project-3 {
    background: none;
}

.project-list:has(.project-3:hover) {
    background: url(/project-3.jpg);
    background-size: cover;
    background-position: top center;
}

.project-4 {
    background: url(/project-4.jpg);
    background-size: cover;
    background-position: center;
}

.project-list:hover .project-4 {
    background: none;
}

.project-list:has(.project-4:hover) {
    background: url(/project-4.jpg);
    background-size: cover;
    background-position: top center;
}