:root {
  --sky-blue1: #054062;
  --sky-blue2: #30788c;
  --primary-clr: #FCF011;
  --dark-clr: #27292b;
  --light-clr: #f0f8ff;
  scrollbar-color: var(--primary-clr) var(--dark-clr);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

svg {
  position: absolute;
  top: 0;
}

body {
  line-height: 1;
  font-family: 'Hind', sans-serif;
  color: var(--light-clr);
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Khand', sans-serif;
  color: var(--primary-clr);
  text-shadow: 0 0 6px var(--primary-clr);
}

h2 {
  font-size: 2.5rem;
  text-shadow: 0 0 4px var(--primary-clr);
  filter: blur(0.02rem);
  font-weight: 600;
}

h3 {
  margin: 0.5rem;
  text-shadow: 0 0 1px var(--primary-clr);
  letter-spacing: 0.5px;
  filter: blur(0.02rem);
  font-size: 1.5rem;
  
}

p {
  margin: 0.5rem;
}

hr {
  margin: 1.5rem 0.5rem;
  border: 1px solid #3d4043;
}

.btn {
  text-decoration: none;
  background-color: var(--primary-clr);
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  color: var(--dark-clr);
  box-shadow: 0 0 15px 0px var(--primary-clr);
  font-family: 'Khand', sans-serif;
  transition: 0.3s ease-in-out;
  margin-top: 1rem;
}

.btn:hover {
  box-shadow: 0 5px 20px 5px var(--primary-clr);
  transform: translateY(-0.3rem);
}

.fixed {
  position: sticky;
  top: 0;
  left: 0;
}

.content {
  background-color: var(--dark-clr);
  position: relative;
  z-index: 5;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 30px 5px var(--dark-clr);
}

.content section {
  padding: 80px 100px;
}