/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

:root {
  --sky-blue1: #08659b;
  --sky-blue2: #1690b2;
  --primary-clr: #FCF011;
  --dark-clr: #171717;
  --light-clr: #f0f8ff;

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;

  scrollbar-color: var(--primary-clr) var(--dark-clr);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

.grain-filter {
  position: absolute;
  top: 0;
}

body {
  line-height: 1;
  color: var(--light-clr);
  background: linear-gradient(120deg, var(--sky-blue1) 50%, var(--sky-blue2));
  font-size: var(--size-xs);
}

img, svg {
  max-width: 100%;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Khand', sans-serif;
  color: var(--primary-clr);
}

h2 {
  font-size: 2.5rem;
  text-shadow: 0 0 2px var(--primary-clr);
  filter: blur(0.02rem);
  font-weight: 600;
}

h3 {
  margin: 0.5rem;
  text-shadow: 0 0 1px var(--primary-clr);
  letter-spacing: 1px;
  filter: blur(0.02rem);
  font-size: 1.5rem;
}

p {
  margin: 0.5rem;
  line-height: 1.5;
}

hr {
  margin: 1.5rem 0.5rem;
  border: 1px solid #3d4043;
}

.btn {
  text-decoration: none;
  background-color: var(--primary-clr);
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  color: var(--dark-clr);
  box-shadow: 0 0 15px 0px var(--primary-clr);
  font-family: 'Khand', sans-serif;
  transition: 0.3s ease-in-out;
  margin-top: 1rem;
}

.btn:hover {
  box-shadow: 0 5px 20px 5px var(--primary-clr);
  transform: translateY(-0.3rem);
}

.fixed {
  position: sticky;
  top: 0;
  left: 0;
}

.content {
  background-color: var(--dark-clr);
  position: relative;
  z-index: 5;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0px 0px 5px #151617;
}

.container {
  padding: 60px 20px;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  body {
    font-size: var(--size-sm);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    padding: 60px 50px;
  }

  body {
    font-size: var(--size-base);
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    padding: 60px 100px;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */